// showing default values
$accentColor = #3eaf7c
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34

.custom-block .custom-block-title{
	  margin-bottom: 1em !important;
    margin-top: 1em;
}